

.request-button{
  background-color: black;
  color: white;
  height: 50px;
  width:  150px;
  border:none;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.15s ;
  transition: color 0.15s;



}

.request-button:hover {
  opacity:0.7 ;
  
}

.request-button:active {
  background-color: black;
  color:white;


}
.join-button{
  background-color: blue;
  color: white;
  border-color: rgb(0, 85, 255);
  padding-top: 10px ;
  padding-bottom:10px;
  padding-left: 20px;
  padding-right:20px;
  font-size: 15px;
  margin-left: 15px;
  border:none;
  border-radius: 50 px;
  transition: padding 5s;

}

.join-button:hover {
  background-color:blue ;
  color:black;
  margin-right:100px;
  padding-right:20px;
  
}
.join-button:active {
  background-color:green ;
} 

